body {
    font-family: Arial, sans-serif;
    background-color: #4CAF50;

}

#task-form {
    margin-bottom: 20px;
}

#task-input {
    width: 50%;
    height: 30px;
    padding: 10px;
    font-size: 18px;
}

#add-task-btn {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

}

.task-completed {
    text-decoration: line-through;
}
.delete-btn{
    background-color: #f44336;
    color:#fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.complete-btn{
    background-color: #4CAF50;
    color:#4CAF50;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#centre-image {
    display: block;
    margin: 0 auto;
    
}